{% load mathfilters %}

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<table name="board">
    <tr>
    <td><div style="width:20px;height:20px"></div></td>
    {% for d in lengthRange %}
        <td><div style="text-align:center;width:20px;height:20px">{{d}}</div></td>
    {% endfor %}    
    </tr>
    {% for y in lengthRange %}
        <tr>
        <td><div style="width:20px;height:0px"></div>{{y}}</td>
        {% for x in widthRange %}
            {% if x in xnotiles1 and y in ynotiles1 or x in xnotiles2 and y in ynotiles2 %}
                <td><div style="width:20px;height:20px"></div></td>
            {% else %}
            {% with f=forloop.parentloop.counter0|mul:21|add:forloop.counter0|add:8 %}
            <td><input style="width:20px;height:20px" type="int" name="r{{y}}c{{x}}" value="{{ansstr|truncatechars:f|slice:'-4:-3'}}"/></td>
            {% endwith %}
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>

</body>
